
body{
    margin: 0px ;
    padding: 0px;
}

.main{
    width: 1000px;
    margin: 0px auto;
    
   
}
  
.myfooter{
  padding-top: 10px;
  padding-bottom: 20px;
  clear: both;
}



.logo{
    background-color: black;
}



/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 18px;
    text-decoration: none;
    font-size: 17px;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:#ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #ddd;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

.mid .top h3{
  float: left;
  margin-left: 10px;
}


.mid {
  width: 750px;
  border: 1px solid black;
  padding: 20px;
  margin: 0px auto;
  margin-top: 75px;
}
.mid .top{
  background-color: chocolate;
  height: 200px;
  width: 750px;
}
.mid .top .top-midle .right img{
  width: 75px;
  height: 75px;


}
.mid .top .top-top{
  display: inline-block;

}
.mid .top .top-midle .left{
  width: 90px;
  height: 80px;
  line-height: 0px;
}
.top-midle h3{
  font-size: 26px;
  color: #e20000;

}
.top-midle p{
  font-size: 12px;
  color: #545454;
}
.top-midle{
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.clear-both{
  clear: both;
}

.text-top{
  vertical-align: text-top;
}

.padding-14{
  padding-top: 10px;
}

form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 40px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 550px;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
}

.form-inline button:hover {
  background-color: royalblue;
}

.mid a{
  text-decoration: none;
}
