
body{
    margin: 0px ;
    padding: 0px;
}

.main{
    width: 1000px;
    margin: 0px auto;
    
   
}

.myfooter{
  padding-top: 10px;
  padding-bottom: 20px;
  clear: both;
}



.logo{
    background-color: black;
}
.topnav {
    overflow: hidden;
    background-color: black;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 18px;
    text-decoration: none;
    font-size: 17px;

}
  
.topnav a:hover {
    background-color:#ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #ddd;
    color: white;
}
  
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
  
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
}

div.rowtop
{
        clear: both;
}
div.rowtop h1
{
font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',sans-serif;
float: left;
overflow: hidden;
font-size: 24px;
color: #333;
line-height: 30px;

}

div.rowInfo
{
    clear: both;
    border-top: 1px solid #e5e5e5 ;
    padding: 15px 0px;
}

div.imageInfo
{
    
    float: left;
    height: 500px;
    width: 500px;
}
div.imageInfo img
{
    margin: 50px 0px;
    height: 400px;
    width: 360px;
    
}
div.info
{
    float: left;
    height: 500px;
    width: 500px;
  
}
h2
{
    font:14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',sans-serif;
    display: block;
    line-height: 1.3em;
    font-size: 20px;
    color: #333;
    margin-bottom: 0;
}
h3
{
    font:14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',sans-serif;
    display: block;
    line-height: 1.3em;
    font-size: 20px;
    color:red;
    margin-bottom: 0;
    background-color: rgb(192, 192, 192);
}

.info li
{
    width: 100%;
    list-style-type: none;
    border-top: 1px solid #e5e5e5 ;
}
.info li span
{
    display:  inline-block;
    width: 40%;          
    padding: 5px 0;
    font-size: 14px;
    color: #666;
}
.info li div
{
    display: inline-block;
    width: auto;         
    padding: 6px 5px;
    font-size: 14px;
    color: #333;
    margin: auto;
}
button.detail{
    display: block;
    width: 100%;
    padding: 6px 0;
    margin: 40px 0;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    background-color: #288ad6;
    color: #fff;
    border: 1px solid #288ad6;
    border-radius: 4px;
}
div.price_sale
{

    float:left;
    width: 360px;
    text-align:center;
    margin-top:20px;
}

div.price strong
{
    display: inline-block;
    font-size: 24px;
    color: #e10c00;
    margin-right: 10px
}
div.price del
{
    display: inline-block;
    font-size: 20px;
    color: #d1c8c8;
   
}
div.price_sale a
{
    background-color: #f44336;
    color: rgb(68, 68, 68);
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    width: 200px;
}
div.more{
    float: right;
    width:500px;
 }
div.more ul
{

    border: 1px solid #ddd;
    border-radius: 3px;

}

div.more ul li
{
    padding: 5px 2px 5px 2px;    
}

div#hidden
{
    
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0,0, 0.75);
    height: 100%;
    width: 100%;
}
div#hidden .detail
{
    margin: auto;
    width: 40%;
    background-color: white;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
}

div#hidden .detail .detailInfo
{
    margin: auto;
    width: 80%;
    
}
div#hidden button
{
    position: fixed;
    right: 0;
    top: 0;
    height: 32px;
    width: 32px;
    background-color:white;
}