
body{
    margin: 0px ;
    padding: 0px;
}

.main{
    width: 1000px;
    margin: 0px auto;
    
   
}

.myfooter{
  padding-top: 10px;
  padding-bottom: 20px;
  clear: both;
}



.logo{
    background-color: black;
}

.topnav {
    overflow: hidden;
    background-color: black;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 18px;
    text-decoration: none;
    font-size: 17px;

  }
  

  .topnav a:hover {
    background-color:#ddd;
    color: black;
  }
  

  .topnav a.active {
    background-color: #ddd;
    color: white;
  }
  

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }



.nav{
  margin-top:20px;
  width: 1000px;



}

.nav ul{
    margin: 0px auto;
    padding: 0px;

}
.nav ul li { 
    list-style: none;
    float: left;
}
.nav ul li a{
    display: inline-block;
    padding:5px ;
    border: 1px solid #ccc;
    width:130px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #288ad6;

}

.nav ul li a img{
    height:25px;

}

.content{
  margin-top: 90px;
}

.content .left {


    width: 690px;
    float:left;
    margin-right: 5px;

}

.content .left img {
    height: 173px;
    width: 690px;
}

.content .right{


  width: 300px;
  float:right;
}
.content .right .top{
  margin-bottom: 5px;
}
.content .right .top img{
  height: 82px;
  width: 300px;
}
.content .right .bottom img{

  height: 82px;
  width: 300px;

}

.table ,th ,td{
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.b{
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  font-size:18px;
  font-family:arial;
}
.introduce{
  width: 1000px;
}

.p{
  text-align: center;
  font-size: 25px;
  border: 1px solid #ccc;
  
}
.introduce img{
  margin: 0px 232px;
}







